{% extends 'cms/base/base.html' %}
{% load static %}

{% block content %}
    {% if home_settings.hero_enabled %}{% include 'cms/section/hero.html' %}{% endif %}
    {% if home_settings.marquee_enabled %}{% include 'cms/section/marquee.html' %}{% endif %}
    {% if home_settings.about_enabled %}{% include 'cms/section/about.html' %}{% endif %}
    {% if home_settings.p2p_enabled %}{% include 'cms/section/p2p_featured.html' %}{% endif %}
    {% if home_settings.products_enabled %}{% include 'cms/section/products.html' %}{% endif %}
    {% if home_settings.advantages_enabled %}{% include 'cms/section/how_it_works.html' %}{% endif %}
    {% if home_settings.faq_enabled %}{% include 'cms/section/faq.html' %}{% endif %}
    {% if home_settings.app_enabled %}{% include 'cms/section/app_cta.html' %}{% endif %}
{% endblock %}
