{% load static %}
<!-- start section -->
            <section class="cover-background border-radius-10px lg-no-border-radius overflow-visible" style="background-image: url('{% static 'cms/images/demo-modern-business-bg-02.png' %}')">
                <img src="{% static 'cms/images/demo-modern-business-elements-07.png' %}" alt="" class="position-absolute left-70px top-minus-50px animation-rotation d-none d-md-block">
                <div class="container overflow-hidden">
                    <div class="row" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="col-12 text-center mb-50px sm-mb-30px">
                            <span class="ps-20px pe-20px pt-5px pb-5px mb-20px text-uppercase alt-font text-base-color fs-12 lh-26 fw-600 alt-font border-radius-100px bg-gradient-very-light-gray-transparent d-inline-flex"><i class="bi bi-heart-fill fs-16 me-5px"></i>KS3 dalam Angka</span>
                            <h2 class="alt-font text-dark-gray fw-700 mb-15px sm-mb-0">Dampak Nyata, Bukan Sekadar Janji</h2>
                        </div>
                    </div>
                    <div class="row g-0 counter-style-04" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay":0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <div class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-base-color ps-35px pe-35px pt-25px pb-25px lg-ps-15px lg-pe-15px md-ps-35px md-pe-35px md-mb-50px sm-mb-30px">
                            <div class="feature-box-content">
                                <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-18 lh-28">Total Pembiayaan Tersalurkan (Juta)</p>
                                <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 mb-0" data-text="+" data-to="12500"><sup class="text-dark-gray top-0"><i class="feather icon-feather-arrow-up icon-extra-medium"></i></sup></h2>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-base-color md-border-end ps-35px pe-35px pt-25px pb-25px lg-ps-15px lg-pe-15px md-ps-35px md-pe-35px md-mb-50px sm-mb-30px">
                            <div class="feature-box-content">
                                <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-18 lh-28">Anggota Aktif </p>
                                <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 mb-0" data-text="+" data-to="2500"><sup class="text-dark-gray top-0"><i class="feather icon-feather-arrow-up icon-extra-medium"></i></sup></h2>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-base-color ps-35px pe-35px pt-25px pb-25px lg-ps-15px lg-pe-15px md-ps-35px md-pe-35px sm-mb-30px">
                            <div class="feature-box-content">
                                <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-18 lh-28">UMKM Terdanai</p>
                                <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 mb-0" data-text="+" data-to="850"><sup class="text-dark-gray top-0"><i class="feather icon-feather-arrow-up icon-extra-medium"></i></sup></h2>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 feature-box text-start hover-box border-start sm-border border-color-base-color md-border-end ps-35px pe-35px pt-25px pb-25px lg-ps-15px lg-pe-15px md-ps-35px md-pe-35px">
                            <div class="feature-box-content">
                                <p class="text-dark-gray mb-20 sm-mb-10 fw-500 w-90 fs-18 lh-28">Tingkat Pengembalian</p>
                                <h2 class="vertical-counter d-inline-flex text-dark-gray fw-700 ls-minus-2px mt-25 mb-0" data-text="%" data-to="94"><sup class="text-dark-gray top-0"><i class="feather icon-feather-arrow-up icon-extra-medium"></i></sup></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end section -->
